@model IEnumerable<mvc_pets.Models.Donation>

@{
    ViewData["Title"] = "All Donations";
}

<h2>All Donations</h2>

<table class="table">
    <thead>
        <tr>
            <th>Amount</th>
            <th>Type</th>
            <th>Payment Method</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var donation in Model)
        {
            <tr>
                <td>@donation.Amount</td>
                <td>@donation.Type</td>
                <td>@donation.PaymentMethod</td>
                <td>@donation.DonationDate.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>